html {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  background-color: #0000008e;
}

p
{
  color: rgb(4, 109, 0);
  line-height: 1.5;
  letter-spacing: -1.3px;
}
body {
  width: 600px;
  margin: 0 auto;
  background-color: #4200008e;
  padding: 0 20px 20px 20px;
  border: 5px solid #000000;
}